.section-shaped .shape-style-1.shape-dsai
{
    background: #555abf url(../img/hero/Uluru-Australia.png) center bottom;
    background-size: cover;
}

.navbar-transparent
{
    position: absolute;
    z-index: 100;
    top: 0;

    width: 100%;

    border: 0;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: none;
}

.card {
    margin-bottom: 30px;
}

.event-title,
.event-date,
.event-venue {
    font-weight: bold !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.spacer {
    padding-bottom: 15px;
}

.hero-team {
    background: #bebebe url(/assets/img/team.jpg) center center no-repeat;
    background-size: cover;
    height: 40rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.prof-pic {
    width: 120px;
    border-radius: 50%;
}

.offoff {
    color: #999999;
}