.section-shaped .shape-style-1.shape-dsai
{
    background: #555abf url(../img/hero/sydney_dark_blur.jpg) center bottom;
    background-size: cover;
}

.navbar-transparent
{
    position: absolute;
    z-index: 100;
    top: 0;

    width: 100%;

    border: 0;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: none;
}


.page-header {
    font-size: 44px;
    display: block;
    background: #ffffff;
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
  }
  .page-header-text {
    white-space: nowrap;
    padding-right: 20px;
    font-weight: 100;
  }


/* blog.html */
.blog-text {color: #90a4ae;}
.blog-text:hover{color: #0277bd}
.header-text {color: #546e7a;font-weight: 200;}
.sub-header-text {font-weight: 400;}
.navbar-transparent {background-color: #78909c;}
.text-info {color: #ee6e73 !important}

/* post.html */
.post-subtitle {font-size: 1.5rem;}
.blog-section-header {font-size: 1.4rem;font-weight: 400;}
.navbar-transparent {background-color: #78909c;}
.text-info {color: #ee6e73 !important}
.image-block-orange{width:650px; height: 365px; background: #ff9800;}
.image-block-secondary{width:1000px; height: 365px; background: #f4f5f7;}

/* events.html */
.evt-header {
    font-size: 44px;
    display: block;
    background: #ffffff;
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
  }
  .evt-header-text {
    white-space: nowrap;
    padding-right: 20px;
    font-weight: 100;
  }

  .evt-header-line {
    flex-grow: 1;
    width: 100%;
    border-top: #f52826 solid 1px;
  }

  .event-text {
    font-size: 20px;
    font-weight: 500;
  }

  .event-date {
    font-size: 16px;
    font-weight: 700;
    color: #4a4747;
    line-height: 1.5;
    margin-bottom: .5rem;
  }

  .event-venue {
    font-size: 16px;
    font-weight: 300;
    color: 4a4747;
    line-height: 1.5;
    margin-bottom: .5rem;
  }

  .img-event {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.5;
    margin-bottom: 1.2rem;
}

.evt-image-block-orange{width:700px; height: 350px; background: #ff9800;}