.section-shaped .shape-style-1.shape-dsai
{
    background: #555abf url(../img/hero/Uluru-Australia.png) center bottom;
    background-size: cover;
}

.navbar-transparent
{
    position: absolute;
    z-index: 100;
    top: 0;

    width: 100%;

    border: 0;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: none;
}

.prof-pic {
    border-radius: 50%;
}

.w-70{
    width: 50%;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.display-5 {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    font-weight: bold;
}


.title-team {
    color: #fff;
}

.hero-team {
    background: #bebebe url(/assets/img/team.jpg) center center no-repeat;
    background-size: cover;
    height: 40rem;
    padding: 1rem;
    margin-bottom: 3rem;
}